<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        color="login"
        routerLink="/registro"
      >Registrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/img/logo/logo_1.png">
  </div>



  <div class="login">
    <app-input placeholder="Usuario" type="text" iconName="person-circle-outline" [(ngModel)]="username"></app-input>
    <app-input placeholder="Contraseña" type="password" iconName="lock-closed" [(ngModel)]="password"></app-input>
    <ion-button expand="block" shape="round" color="login" (click)="doLogin()">Iniciar Sesión</ion-button>
  </div>
</ion-content>
