<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Registrar Cuenta</h1>
    <img src="assets/img/logo/logo_1.png" alt="">
  </div>
  <div class="registro">
    <app-input placeholder="*Nombre" type="text" iconName="person" [(ngModel)]="user.name"></app-input>
    <app-input placeholder="*Email" type="email" iconName="mail" [(ngModel)]="user.email"></app-input>
    <app-input placeholder="*Password" type="password" iconName="lock-closed" [(ngModel)]="user.password"></app-input>
    <app-input placeholder="Telefono" type="tel" iconName="phone-portrait-outline" [(ngModel)]="user.phone"></app-input>
    <app-input type="date" iconName="calendar-outline" [(ngModel)]="user.birthday"></app-input>
  </div>

  <ion-button class="loginBottom" expand="block" shape="round" color="login" (click)="doRegister()">Registrar</ion-button>

</ion-content>
