ion-header {
  ion-toolbar {
      ion-title {
          font-weight: bold;
          font-family: cursive;
          font-size: 1.6rem;
      }
  }
}

ion-content{
  ion-item-divider{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
  }
}
