<div class="product">

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="( product.usuario.avatar | avatar: product.usuario._id)" />
    </ion-avatar>
    <ion-label>
      <h3>{{product.usuario.username}}</h3>
      <h5>{{product.usuario.email}}</h5>
    </ion-label>
  </ion-item>
  <swiper [config]="configSwiper"
          *ngIf="product.imgs.length > 1"
          [pagination]="{ clickable: true }">
    <ng-template swiperSlide *ngFor="let img of product.imgs">
        <ion-img class="image-slide"
                 [style]=" ( img | productImage: product.usuario._id) | domSanitizer">
        </ion-img>
    </ng-template>
  </swiper>

  <swiper [config]="configSwiper"
          *ngIf="product.imgs.length === 1"
          [pagination]="{ clickable: true }">
    <ng-template swiperSlide>
      <ion-img class="image-slide"
              [style]=" ( product.imgs[0] | productImage: product.usuario._id) | domSanitizer">
      </ion-img>
    </ng-template>
  </swiper>
  <ion-item lines="none">
    <ion-label text-wrap>
      {{product.description}}
    </ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3">
        <ion-chip color="primary" outline="false">
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>{{product.price}} </ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="4.5">
        <ion-chip color="primary" outline="false">
          <ion-icon name="pricetags-outline"></ion-icon>
          <ion-label>{{product.stock}} Unidades</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="4.5">
        <ion-chip color="primary" outline="false">
          <ion-icon name="grid-outline"></ion-icon>
          <ion-label>{{product.category}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

