<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="container">
      <ion-avatar class="outer">
        <img src="/assets/img/avatar/ian-avatar.png" />
        <div class="inner" >
          <ion-icon name="camera"  class="camera-icon"></ion-icon>
       </div>
      </ion-avatar>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-chip color="dark" mode="ios" outline="true">
            <ion-label>44.4K</ion-label>
            <ion-icon name="pencil"></ion-icon>
          </ion-chip>

        </ion-col>
        <ion-col size="4">
          <ion-chip color="dark" mode="ios" outline="true">
            <ion-label>11.4K</ion-label>
            <ion-icon name="chatbubble-ellipses"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col size="4">
          <ion-chip color="dark" mode="ios" outline="true">
            <ion-label>44.1K</ion-label>
            <ion-icon name="heart"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="forms">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input>Daniel Z. Juca</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-input>__daniel82__</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input>dzjuca@gmail.com</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cumpleaños</ion-label>
        <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
        <ion-input type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
        <ion-input type="tel">0984746267</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Suscripción</ion-label>
        <ion-icon slot="start" name="card-outline"></ion-icon>
        <ion-input type="tel">Mensual</ion-input>
      </ion-item>
    </div>
</ion-content>
