<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="pulsoMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md" color="dark">Usuarios</ion-title>

    <ion-chip color="primary" outline="true" slot="end">
      <ion-avatar>
        <img [src]="( user.avatar | avatar: user._id)" />
      </ion-avatar>
      <strong>{{user.username}}</strong>
    </ion-chip>
  </ion-toolbar>
  <ion-searchbar placeholder="Filtrar Usuarios" (ionInput)="search($event)"></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let user of pulsoUsers">
      <ion-avatar slot="start">
        <img [src]="( user.avatar | avatar: user._id)" />
      </ion-avatar>
      <ion-label>
        <h2>{{user.username}}</h2>
        <h3>{{user.name}}</h3>
        <p>{{user.email}}</p>
      </ion-label>
      <ion-label slot="end">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
