<ion-menu
  side="start"
  menuId="pulsoMenu"
  contentId="main"
  type="overlay">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngFor="let item of menuOptions | async" [routerLink]="item.redirectTo">
          <ion-label>{{item.name}}</ion-label>
          <ion-icon
          slot="start"
          [name]='item.icon'
        ></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
