
ion-button{
  --color:var(--ion-color-medium)
  var(--color)-selected: var(--ion-color-dark)
}

ion-header{
  ion-toolbar{
    ion-title{
      font-size: 1rem;
      ion-icon{
        margin-bottom: -3px;
      }
    }
  }
}

ion-content{
  ion-grid{
    ion-row{
      .thumbnail{
        ion-thumbnail{
          position: relative;
          min-width: 4rem;
          min-height: 4rem;
          border-radius: 20px;
          padding: 5px;
          img{
            border-radius: 20px;
          }
        }
      ion-thumbnail::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        padding: 3px;
        background: linear-gradient(to bottom, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;

      }

      ion-fab{
        margin: 0 -10px -14px 45px;
        width: 20px;
        height: 20px;
        ion-fab-button{
          width: 20px;
          height: 20px;
          --background: linear-gradient(to bottom, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);

        }

      }

      }
      ion-col{
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }
  }
}
